.container {
    margin-top: 5rem;  
}

td {
    text-align: center;
    color: darkblue;
    font-size: 1.5rem;
}

#table {
    padding: 1rem 1rem 1rem 1rem;
    border: 1.5rem solid lightblue;
    border-radius: 1rem;
    box-shadow: .4rem .4rem .25rem grey;
}

#display {
    height: 1.3rem;
    text-align: right;
}

#minus, #equals, #decimal, #add, #multiply, #division, #remainder {
    font-size: 1.75rem;
}